<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v01_instance05.html</title>
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
  <div id="app1">
    <div>
      <label for=""><input type="checkbox" v-model="myhobbies" value="book">독서</label>
      <label for=""><input type="checkbox" v-model="myhobbies" value="movie">영화</label>
      <label for=""><input type="checkbox" v-model="myhobbies" value="writing">글쓰기</label>
      <p>취미: {{myhobbies}}</p>
    </div>

    <div>
      <label for=""><input type="radio" v-model="myData" value="book">독서</label>
      <label for=""><input type="radio" v-model="myData" value="movie">영화</label>
      <label for=""><input type="radio" v-model="myData" value="writing">글쓰기</label>
      <p>취미: {{myData}}</p>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app1',
      data: {
        myhobbies: ['book','movie','writing'],
        myData: 'movie'
      }
    })
  </script>

  <div id="app2">
    <select v-model="myColor">
      <option disabled>색을 선택하세요.</option>
      <option>red</option>
      <option>green</option>
      <option>blue</option>
      <option>orange</option>
    </select>
    <p v-bind:style="{color: myColor}">선택한 색상은 {{myColor}} 입니다.</p>
    <label><input type="checkbox" v-model="myAgree">동의합니다.</label>
    <button v-bind:disabled="!myAgree">송신</button>
    <!-- <button v-bind:disabled="myAgree==false">송신</button> -->
  </div>
  <script>
    new Vue({
      el: '#app2',
      data: {
        myColor: '',
        myAgree: false
      }
    })
  </script>
</body>
</html>