<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v02_if_else.html</title>
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
  <div id="app">
    <label><input type="checkbox" v-model="myVisible">표시</label>
    <p v-if="myVisible">체크박스 ON</p>
    <p v-else>체크박스 OFF</p>
    <hr>
    <p v-if="myType=='A'">A</p>
    <p v-else-if="myType=='B'">B</p>
    <p v-else-if="myType=='C'">C</p>
    <p v-else>{{myType}}</p>

    <input v-model="myType">

    <!-- isShow = false는 display: none 으로 바꿔줌 -->
    <button v-show="isShow" v-on:click="isShow = false">선택</button>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        myVisible: false,
        myType: 'A',
        isShow: true
      }
    })
  </script>
</body>
</html>