<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v05_watch01.html</title>
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
  <div id="app">
    x : <input type="number" v-model="x"><br>
    y : <input type="number" v-model="y"><br>
    결과 : {{sum}}
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        x: 0,
        y: 0,
        sum: 0
      },
      watch: {
        x: function(afterValue, beforeValue){
          console.log('x값: ', afterValue, beforeValue);
          this.sum = Number(afterValue) + Number(this.y);
        },
        y: function(afterValue, beforeValue){
          console.log('y값: ', afterValue, beforeValue);
          this.sum = Number(afterValue) + Number(this.x);
        },
      }
    })
  </script>
</body>
</html>